body {
    background-color: white;
    font-family: 'Times New Roman, sans-serif';
    color: black;
    font-size: medium;
}

.tituloPage {
    text-align: center;
    margin: 50px;
}

.preferences {
    border-style: solid;
    text-align: center;
}
.preferences div {
    text-align: center;
    margin: 0%;
    padding: 30px;
    display: inline-block;
    
}

.titleText {
    text-align: center;
    margin: 10px 100px;
    margin-top: 100px;
}

.text {
    text-align: justify;
    margin: 50px 100px;
}

.reference {
    text-align: center;
}