body {
    font-size: medium;
    margin: 2em;
}
h1 {
    font-size: x-large;
}
h2 {
    font-size: large;
}

img {
    max-width: 100%;
}

figure {
    margin: 0.5em;
    padding-bottom: 1em;
}

@media screen and (min-width: 800px) {
    body {
      background-color: darkgoldenrod;
      font-size: larger;
      margin: 3em;
    }

    .box-columns {
        display: flex;
    }
}
