html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header {
  background-color: grey;
  display: flex;
}

@media screen and (max-width: 600px) {
  body {
    background-color:aqua;
    text-align: justify;
  }

  header {
   padding: 0 20px; 
  }

  .text {
    margin: 2em;
  }
  nav {
    display: none;
  }

  aside li{
    font-size: small;
    list-style: none;  
  }

  p {
    font-size:medium;
  }

  h1 {
    font-size: x-large;
    text-align: center;
    padding: 10px 50px;
  }

  h2 {
    font-size: large;
  }

  h3 {
    font-size: larger;
    text-align: center;
  }
}

@media screen and (min-width: 600px) {
  body {
    background-color:coral;
    text-align: justify;
  }
  
  header {
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content:space-between;
 }

 .text {
   margin: 3em;
 }

 .menu ul{
   list-style: none;
   display: flex;
   align-items: center;
 }

 .menu li{
   padding: 10px;
 }

 aside li{
   font-size: medium;
   list-style: none;  
 }

 p {
   font-size:larger;
 }

 h1 {
   font-size: xx-large;
   text-align: center;
   padding: 10px 50px;
 }

 h2 {
   font-size: x-large;
 }

 h3 {
   font-size: large;
   text-align: center;
 }
}
